# This file is example of Environment Configuration
# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=testdb

# Application Database
DB_DRIVERNAME=postgresql+asyncpg
DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password
DB_HOST=db
DB_PORT=5432
DB_DATABASE=testdb

# Email / SMTP
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_FROM=noreply@example.com
MAIL_USERNAME=your_email_username
MAIL_PASSWORD=your_email_password

# Frontend
FRONTEND_BASE_URL=http://localhost:3000