.env
.env2
.key
__pycache__/
*.pyc
.venv/
app/__pycache__/
app/api/__pycache__/
app/core/__pycache__/
app/models/__pycache__/
app/schemas/__pycache__/
app/services/__pycache__/
app/utils/__pycache__/
docker-compose.yml