fastapi
uvicorn              
sqlalchemy    
alembic              
pyjwt                
pydantic                     
argon2-cffi          
redis                 
pydantic-settings    
pydantic[email]      
alembic              
fastapi-mail
python-multipart
resend
asyncpg
httpx2
pytest
pytest-asyncio